* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    width: 1110px;
    margin: 0 auto;
}

/* Оформление header */
/* .logo, .navi_menu, .navi, header {
    font-size: 0px; */
/* } */
.logo {
    float: left; 
    
    font-size: 30px; color: #555252;
    font-weight: 300;    
    line-height: 32px;
    font-family: 'Roboto';
    text-decoration: none;
    text-transform: uppercase;

}


.logo::first-letter{
    font-weight: 800;
}
.logo:hover::first-letter {
    
    color: #1abc9c;

}
.navi {
    float: right;
    list-style: none;    
    margin: 0 auto;

}

.navi_menu li  {
    float: left;
    
    margin-right: 35px; 
    font-size: 14px;
    line-height: 11px; 
    font-family: 'Open Sans'; color: #0f0101;
    font-weight: 800;
    text-transform: uppercase;    
    list-style: none;
    
}
.navi_menu a {
    text-decoration: none;
}
.navi_menu li:nth-child(6) {
    margin: 0;
}
header {
    padding-top: 30px;
    padding-bottom: 110px;
   
}
 .hov:hover {
    color: #1abc9c;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* Оформление main */

             /* FEATURED PRODUCTS */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.title {
    font-size: 48px;
    font-family: 'Roboto';
    color: #515151;
    font-weight: 800;
    
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 90px;
    
     
}
.title::after {
    display: block;
    content: '';
    width: 170px;
    height: 7px;
    background-color: #1abc9c;   
    margin: 0 auto;
    margin-top: 30px;    

}


.item_name  {  
    font-family: "Roboto" sans-serif;  
    width: 200px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    font-family: "Roboto" sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 700;
    padding-left: 10px;
}
    
.price  {
    font-family: "Roboto" sans-serif;
    font-size: 18px;  
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
    text-transform: uppercase;
    padding-top: 10px;
    color: #ffffff;
    padding-left: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: 700;  

   
}
.box {
    float: left;
    margin-right: 30px;
    width: 255px;
    
}
 .box:nth-child(5) {
    margin-right: 0px;
    margin-bottom: 30px;
}
.box:nth-child(9) {
    margin-right: 0px; 
}



.price, .item_name  {
    float: left;
    
}


.box:hover .item_name   {
    background-color: #1abc9c;
}
.box:hover .price  {
    background-color: #7fd9c7;
    
}
.goods {
    padding-bottom: 110px;
}
                /* LATEST NEWS */
.news {
    float: left;
    margin-right: 20px;
    
    width: 350px;

}

.last {
    margin-right: 0;
}
.news_text_main {
    font-size: 18px;
    font-family: 'Open Sans'; 
    color: #555252;
    font-weight: 600;
    

}
.news_text {
    font-size: 14px;
    font-family: 'Open Sans'; 
    color: #555252;
    font-weight: 400;
}
.news_text_main::after {
    display: block;
    content: '';
    width: 136px;
    height: 4px; 
    margin-top: 10px;   
    margin-bottom: 34px;
    background-color: #4ec6ab;

}
.news a {
    width: 161px;
    height: 53px;
    border-radius: 4px;
    background-color: #4ec6ab;    
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;    
    text-decoration: none;
    display: block;
    line-height: 53px;

}
.news_bord {
    padding-bottom: 30px;
}